
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .loader-container img {
    width: 150px; 
    height: auto; 
  }
  
  
  @media (max-width: 360px) {
    .loader-container img {
      width: 100px; 
    }
  }
  