body {
    overflow-x: hidden; 
    background-color: #103260;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}


h1, h2, h3 {
    font-family: 'Lora', serif;
    color: #fff;
}

nav, footer {
    width: 100vw; 
    margin-left: -20px; 
    font-family: 'Montserrat', sans-serif;

}
main {
    padding-bottom: 100px; 
}
.no_hay_resultados {
    color: #fff;
    font-size: 20px; 
    text-align: center;
}
.iframe-container{

    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe {
   
    border: none;
    width: 50%;
    height: 50%;
    
}
.link {
    display: none;
}
@media (max-width: 360px) {
    
    .no_hay_resultados {
        font-size: 16px; 
        padding: 10px;
    }

    .iframe-container {
        padding-bottom: 75%; 
    }

    .responsive-iframe {
        width: 100%;
        height: 100%;
    }
}