body {
    overflow-x: hidden; 
    background-color: #103260;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}


h1, h2, h3 {
    font-family: 'Lora', serif;
    color: #fff;
}

nav, footer {
    width: 100vw; 
    margin-left: -20px; 
    font-family: 'Montserrat', sans-serif;

}

