.pelis_card {
    background-color: #314991;
    border: none;
    border-radius: 10px;
    width: 19%;
    padding: 20px;
    margin: 25px;
    box-sizing: border-box;
}
.pelis_card h4{
    color: #e3dbdb;
}
.pelis_card:hover {
    transform: translateY(-10px); /* Investigamos como darle un efecto flotante en: https://developer.mozilla.org/es/docs/Web/CSS/transform-function/translateY*/
 }

.pelis_card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 12 px;
}



.show {
    display: block;
    font-size: 0.9rem;
    color: #e3dbdb;
    margin-top: 10px;
}

.hide {
    display: none;
}

.button {
    background-color: #173657;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #224c78;
}



.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 30px; 
}