.form_busqueda {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-top: 10px;
  }
  
  .form_busqueda input {
    width: 80%; 
    padding: 10px; 
    font-size: 25px; 
    border: 2px solid #ccc;
    border-radius: 8px;
  }
  
  .form_busqueda button {
    padding: 15px; 
    font-size: 20 px; 
    margin-left: 10px; 
    border: none;
    background-color: #4B4B4B; 
    color: white;
    border-radius: 8px;
  }