nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, #023e8a, #0077b6);
    width: 100%;
  }
  
  nav .logo img {
    width: 80px;
  }
  
  .main-nav {
    list-style: none;
    display: flex;
    gap: 20px;

  }
  
  .main-nav li {
    font-size: 18px;
    font-weight: bold;

  }
  
  .main-nav a {
    color: white;
    text-decoration: none;
 
  }
  
  .user img {
    width: 50px;
    border-radius: 50%;
  }
 
.menu-icon {
    display: none; 
    cursor: pointer;
    
}

  @media (max-width: 360px) {
    .main-nav {
    display: none;
      flex-direction: column;
      background-color: #141b29;
      position: absolute;
      top: 60px;
      right: 0;
      padding: 10px;

    }
  
    .main-nav.active {
      display: flex;
    }
  
    .user img {
      width: 30px; 
    }
    .menu-icon {
        display: block; 
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        font-size: 25px;
    }
  }

