footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(to bottom, #023e8a, #0077b6);
    color: #fff;
    position: relative;
    font-size: 18px;
    gap: 30px;
    width: 100vw; 
    margin-left: -20px; 
    align-items: end;
}

footer p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 360px) {
    footer {
        padding: 15px; 
        font-size: 12px; 
        width: 100%
    }

    footer p {
        font-size: 12px;
    }
    
}
