Footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #da5454;
    color: #fff;
    position: relative;

}

Footer p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
