.detalle_pelicula {
    background-color: #314991;
    border-radius: 10px;
    max-width: 500px; 
    padding: 20px;
    margin: 30px auto; 
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;; 
}

.detalle_pelicula img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 8px; 
    margin-top: 15px;
}

.detalle_pelicula h3 {
    font-size: 1.8em;
    margin-bottom: 8px; 
    color: #fffefe;
}

.detalle_pelicula p {
    font-size: 1.1em; 
    margin-bottom: 8px; 
    color: #e3dbdb;
}

.detalle_pelicula p strong {
    font-weight: bold;
    color: #e3dbdb;
}

.detalle_pelicula .fav-button {
    margin-top: 15px; 
    background-color: #4B4B4B;
}

@media (max-width: 360px) {
    .detalle_pelicula {
        padding: 10px; /* Reduce el padding para pantallas pequeñas */
        width: 90%; /* Deja margen a los costados para centrarla mejor */
        margin: 10px auto; /* Centra la tarjeta horizontalmente */
    }

    .detalle_pelicula h3 {
        font-size: 18px; /* Ajusta el tamaño del texto */
    }

    .detalle_pelicula p {
        font-size: 12px;
    }

    .detalle_pelicula img {
        margin-bottom: 8px;
    }

    .detalle_pelicula .fav-button {
        margin-top: 10px;
        font-size: 14px;
    }
}